@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom styles below */

img{
    transform-style: preserve-3d;
    overflow: hidden;
}

.conteneur{
    perspective: 2000px;
}

.bague{
    /* transform: rotateY(180deg); */
}